{% extends 'base.html' %}

{% load static %}
{% block nav %}
{#    {% if perms.webapp.change_product %}#}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_update' product.pk %}">Update Product</a>
    </li>
{#    {% endif %}#}
{#    {% if perms.webapp.delete_product %}#}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_delete' product.pk %}">Delete Product</a>
    </li>
{#    {% endif %}#}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_add_review' product.pk %}">Add review</a>
    </li>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>{{ product.name }}</h1>
            <p class="card-text">Category: {{ product.get_category_display }}</p>
            <p class="pre">Description: {{ product.description }}</p>
            {% if product.picture %}
                <img src="{{ product.picture.url }}" width="150" height="150" alt="product picture">
            {% else %}
                <img src="{% static "img/no-image-icon-6.png" %}" width="150" height="150" alt="image">
            {% endif %}
            <br>
{#            {% include "partial/cart_add_form.html" %}#}
        <h3>Review</h3>
        <div>
            {% for review in reviews %}
            <a href="#"><p>Author: {{ review.author }}</p></a>
                <p>review: {{ review.content }}</p>
                <p>rate: {{ review.rate }}</p>

            <p><a href="{% url "webapp:review_update" review.pk %}">Update review</a></p>

            <p><a href="{% url "webapp:review_delete" review.pk %}">Delete review</a></p>
                <hr>
        </div>
        {% empty %}
            <p>No review yet.</p>
        {% endfor %}
        </div>
    </div>
    <a href="{% url 'webapp:index' %}">Return to list of products</a>
{% endblock content %}